{% extends 'shop/base.html' %}
{% load static %}
{% block title %} ГЛАВНАЯ СТРАНИЦА {% endblock %}
{% block head %} 

{% endblock %}

{% block content %} 
<br>
<center>
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
        <p><i class="fas fa-home me-3 text-secondary"></i> Санкт-Петербург </p>
        <p>
          <i class="fas fa-envelope me-3 text-secondary"></i>
          info@example.com
        </p>
        <p><i class="fas fa-phone me-3 text-secondary"></i> + 8(812) 000 00 00</p>
        <p><i class="fas fa-print me-3 text-secondary"></i> + 8(812) 000 00 00</p>
      </div>
</center>


<hr>
</center>
<div style="margin: auto;"> 
  <center>
    <img src="{% static 'shop/r31.png' %}" width="1890" height="300" alt="My image"> 
  </center>
  </style>
</div> 
 
{% endblock %}
