{% extends 'shop/base.html' %}
{% load static %}
{% block title %} СТРАНИЦА АУТЕНТИФИКАЦИИ {% endblock %}
{% block head %} 


{% endblock %}
{% block content %} 

<center></center>
<p> <font size="8" color= #E5D3BD;  face="Times New Roman"> Восстановление пароля </font> </p>
<hr>

<div class="space">
<form action="" method="POST" >
    {% csrf_token %}

    <div class="form-group">
        <label for="exampleInputEmail1"><font size="5" color= #E5D3BD;  face="Times New Roman"> Введите адрес электронной почты </font></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        <small id="emailHelp" class="form-text text-muted"><font size="2" color= #E5D3BD;  face="Times New Roman"> We'll never share your email with anyone else.</font>  </small>
    <br>
    <hr>
    <center>
    <button type="submit" class="btn btn-primary">Submit</button>
    </center>
    </div>
   
</form>
</div>
<hr>
{% endblock %}


