{% extends 'shop/base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block head %} 


{% endblock %}
{% block content %} 

<center>
<div class="space , shadowbox">
 <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h1>  {{ data.name }}   </h1>
        <h1>  {{ data.description }}  </h1>
        <h1>  {{ data.price }}  </h1>
        <img src="{{ product.img.url }}" width="200" height="200" class="card-img-top" alt="...">
             
      </div>
    </div>
 </div>
</div>
<br>
</center>
{% endblock %}



